<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DialProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACD819981E1516BE0060379D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD819B11E1516BF0060379D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD819BC1E1516BF0060379D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
